/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 12, 2015, 10:30:07 PM
    Author     : Lucifer-PC
*/

.combobox  {
    -fx-background-color: #FFF;
    -fx-border-color: #424343;
}

.button {
    -fx-background-color: #e1dcdc;
    -fx-border-color: #424343;
    -fx-text-fill: #424343;
}

.button:hover {
    -fx-scale-x:1;
    -fx-scale-y:1;
    -fx-background-color: #424343;
    -fx-text-fill: #FFF;
}

.homeButton {
    -fx-background-color: #f2f4f4;
    -fx-border-color: #f2f4f4;
    -fx-background-image: url(../image/Home.png);
}

.homeButton:hover {
    -fx-background-color: #f2f4f4;
    -fx-border-color: #f2f4f4;
    -fx-scale-x:1.1;
    -fx-scale-y:1.1;
}

.iconButton {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.iconButton:hover {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-scale-x:1.1;
    -fx-scale-y:1.1;
    -fx-cursor: hand;
}

.label {
    -fx-text-fill: #424343;
}

.redStar {
    -fx-text-fill: #ff0000;
}

.table-view .column-header .label {
    -fx-text-fill: #424343;
    -fx-font-weight: bold;
}

.table-view .table-cell {
    -fx-text-fill: #424343;
}