.root {
	-fx-background-color: #3a94e9;
	-fx-border-color: #FFF;
	-fx-border-width:2px;
}

.label {
	-fx-text-fill: #FFF;
}

.button {
	-fx-background-color: transparent;
}

.button:hover {
	-fx-scale-x:1.2;
        -fx-scale-y:1.2;
	-fx-cursor: hand;
}